.banner{
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.banner ul {
    list-style-type: none;
}

div.banner li {
    float: left;
    padding: 0% 4%;
}

div.banner a {
    font-size: 2vw;
}