.banner{
    background-color: aqua;
}

div.banner ul {
    list-style-type: none;
    background-color: blueviolet;
    
    
    
    margin: 1vmax auto;
   
    width: fit-content;
    height:  4vmax;
}

div.banner li {
    
    float: left;
    margin-right: 9vw;
    margin-top: 0.8vmax;

 
}

div.banner a {
    font-size: 2vmax;
}