

body{
	
	background:  #5B507A;
    background: -webkit-linear-gradient(45.34deg, #5B507A 5.66%, #9EADC8 94.35%);
    background: linear-gradient(45.34deg, #5B507A 5.66%, #9EADC8 94.35%);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	overflow-y: scroll;
}

.cover{
	background: inherit;
	position: fixed;
	width: 100%;
	height: 4.5vw;
	top: 0;
	left: 0;
	z-index: 1;
}

.banner{
   
    position: fixed;
    top: 1%;
	left: 50%;
    transform: translateX(-50%);
	z-index: 2;
	
	
	box-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.5);
	border-radius: 0.2vw;
	
	background: #000000;
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);

}


div.banner button{
	
	float: left;
	padding: 1vw 4vw;
	
	border-radius: 0.2vw;
	
	color: white;
	font-size: 1vw;
	font-family: 'Poppins', sans-serif;
	
	background: Transparent;
	outline: none;
	border: none;
}

div.banner button:hover{

	background: rgb(100 100 100);
}

.content{
	color: white;
	font-family: 'Lato', sans-serif;
	
	background: #434343;
	
	box-shadow: 0.45vw 0.45vw 0 rgba(0, 0, 0, 0.5);
	border-radius: 0.2vw;
	
	width: 43.7vw;
	min-height: 80vh;
	height: fit-content;
	margin: 5% auto;
	padding: 1vw;
}

div.content p{
	position: static;
}

.padding{
	padding-left: 80px;
}

div.content b{
	
	width: 10px;
	overflow: visible;
	display: inline-block;
}

.icons{
	width: fit-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.icons img{
	width: 3vw;
	height: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
}












































